* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: #fff;
  background-color: #121213;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  width: 510px;
  border-bottom: solid 1px #3a3a3c;
}

.title h1 {
  padding: 10px 0px;
}

.tiles {
  width: 330px;
  margin-bottom: 30px;
}

.keyboard {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.keyboard button {
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  margin: 4px;
  cursor: pointer;
}

.keyboard button:nth-child(11) {
  margin-left: 30px;
}

.keyboard button:nth-child(20),
.keyboard button:nth-child(28) {
  width: 68px;
}
